{% extends "master.html"%}
{% block title %}Home{% endblock %}
{% block content %}
<div class="col-3">
    <form >
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Firstname" name="firstname">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Lastname" name="lastname">
</div>

<div class="input-group mb-3">
    <input type="number" class="form-control" placeholder="Age" name="age">
</div>

<div class="input-group mb-3">
  <input type="email" class="form-control" placeholder="Email" name="email">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Username" name="username">
</div>

<div class="input-group mb-3">
  <input type="password" class="form-control" placeholder="Password" name="password">
</div>
<button type="button" class="btn btn-success">Create</button>
</form>
</div>
{% endblock %}